@use '../functions/vw' as *;

@mixin typography($font-size, $line-height, $letter-spacing: 0, $text-transform: "normal", $font-family: var(--font-family-base)) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;

  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }

  @if $text-transform != "normal" {
    text-transform: $text-transform;
  }
}

@mixin accentXXL {
  @include typography(vw(132), 0.88, -0.06em);
}

@mixin accentM {
  @include typography(vw(80), 0.88, -0.06em);
}

@mixin h2 {
  @include typography(vw(48), 1, -0.05em);
}

@mixin h3 {
  @include typography(vw(36), 1.1, -0.04em);
}

@mixin h4 {
  @include typography(vw(24), 1.12, -0.04em);
}

@mixin h5 {
  @include typography(vw(24), 1.12, -0.04em);
}

@mixin btnS {
  @include typography(vw(12), 1, 0.02em, uppercase);
  font-weight: 600;
}

@mixin btnM {
  @include typography(vw(14), 1, 0.02em, uppercase);
  font-weight: 600;
}

@mixin captionXL {
  @include typography(vw(28), 1.08, -0.05em);
}

@mixin captionM {
  @include typography(vw(12), 1, 0.02em, uppercase);
}

@mixin captionXS {
  @include typography(vw(10), 1.32, 0.02em, uppercase);
}

@mixin body-paragraph {
  @include typography(vw(18), 1.32, -0.02em);
}

@mixin body-paragraph {
  @include typography(vw(18), 1.32, -0.02em);
}

@mixin body-paragraph-accent {
  @include typography(vw(18), 1.32, -0.02em);
}

@mixin body-paragraph-secondary {
  @include typography(vw(16), 1.3, -0.02em);
}