@use '../functions/vw' as *;
@use '../mixins/breakpoints' as *;

@mixin spacing {
  --spacing-4: #{vw(4)};
  --spacing-8: #{vw(8)};
  --spacing-12: #{vw(12)};
  --spacing-16: #{vw(16)};
  --spacing-20: #{vw(20)};
  --spacing-24: #{vw(24)};
  --spacing-28: #{vw(28)};
  --spacing-32: #{vw(32)};
  --spacing-36: #{vw(36)};
  --spacing-40: #{vw(40)};
  --spacing-44: #{vw(44)};
  --spacing-48: #{vw(48)};
  --spacing-52: #{vw(52)};
  --spacing-56: #{vw(56)};
  --spacing-60: #{vw(60)};
  --spacing-64: #{vw(64)};
  --spacing-68: #{vw(68)};
  --spacing-72: #{vw(72)};
  --spacing-76: #{vw(76)};
  --spacing-80: #{vw(80)};
  --spacing-84: #{vw(84)};
  --spacing-88: #{vw(88)};
  --spacing-92: #{vw(92)};
  --spacing-96: #{vw(96)};
  --spacing-100: #{vw(100)};
  --spacing-104: #{vw(104)};
  --spacing-108: #{vw(108)};
  --spacing-112: #{vw(112)};
  --spacing-116: #{vw(116)};
  --spacing-120: #{vw(120)};
  --spacing-124: #{vw(124)};
  --spacing-140: #{vw(140)};
}