.root {
}

.size {
  &Primary {
    @include body-paragraph();
  }

  &Secondary {
    @include body-paragraph-secondary();
  }

  &Small {
    font-size: vw(13);
    line-height: 1;
    letter-spacing: 0.02em;
  }
}