.root {
  position: fixed;
  z-index: var(--z-header);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  padding: var(--spacing-20) var(--spacing-32);

  @include transition((background-color));

  @include mq(lg) {
    padding: vw(14) var(--spacing-20);
  }

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    padding: vw(10) var(--spacing-16);
  }

  &.filled {
    background-color: var(--background-surface-page);
  }
}

.logo {
  position: relative;
  width: vw(208);

  svg {
    width: 100%;
    height: auto;
  }

  @include mq(lg) {
    width: vw(192);
  }

  @include mq(md) {
    width: vw(164);
  }
}

.item {
  display: flex;
  align-items: center;

  &:nth-child(2):not(:last-child) {
    justify-content: center;

    @include mq(md) {
      justify-content: flex-end;
    }
  }

  &:last-child {
    justify-content: flex-end;

    @include mq(md) {
      display: none;
    }
  }
}