.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  padding: var(--spacing-32);
  background-color: var(--main-background-color);

  @include mq(md) {
    padding: var(--spacing-16);
  }
}

.feed {
  width: 100%;
  max-width: vw(720);
  margin: 0 auto;
}
